<div class="container">
<main>
<div class="text-center py-5">
<h1> Welcome to the bugs </h1>
<%= link_to "New Bug", new_project_bug_path %>
<table class="table table-striped">
<thead class="thead-dark">
<tr>
<th scope="col">#</th>
<th scope="col">Title</th>
<th scope="col">Description</th>
<th scope="col">Status</th>
<th scope="col">Action</th>

</tr>
</thead>
<tbody>
<% @bugs.each_with_index do |bug, index| %>
<tr>
<th scope="row"><%= index+1 %></th>
<td><%= bug.title %></td>
<td><%= bug.description %></td>
<td><%= bug.status %></td>
<td>
 <%= link_to "Edit", edit_project_bug_path(@project.id, bug) %>
</td>

</tr>
<% end %>
</tbody>
</table>
</div>
</main>
</div>